.Dform {
    align-items: center;
    background-color: #3e3838;
    -webkit-filter: brightness(.9);
    filter: brightness(.9);
    justify-content: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.Dheader {
  background-color: white;
  padding: 30px 0px;
  border: coral;
  border-radius: 8px;
  width: 30%;
  display: flex;
  justify-content: center;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 800;
  }
  input[type="File"] {
    font-size: 10px;
    margin: 10px 27px;
}

select {
  margin: 10px 30px;
  padding: 10px 45px;
  border-bottom: 2px solid #000;
  outline: none;
  }


  @media screen and (max-width:1050px) {
    .Dheader{
      width: 35%;
    }
  }
  
  @media screen and (max-width:900px) {
    .Dheader{
      width: 40%;
    }
      
  }
  @media screen and (max-width:800px) {
    .Dheader{
      width: 45%;
    }
  }
  
  @media screen and (max-width:650px) {
    .Dheader{
      width: 55%;
    }
  }
  
  @media screen and (max-width:500px) {
    .Dheader{
      width: 70%;
    }
  }
  