.con {
    align-items: center;
    background-color: #3e3838;
    -webkit-filter: brightness(.9);
    filter: brightness(.9);
    justify-content: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

.con button {
  background-color: lightseagreen;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 7px 41px;
  position: relative;
  transition: all .3s linear;
  z-index: 11;
  }

  .con-select {
    margin: 10px 5px;
    padding: 10px 28px;
  }


  @media screen and (max-width:500px) {
    .login {
      max-width: 85%;
      padding: 10px 10px;
    }
    .login button {
      padding:  6px 35px;
      font-size: 12px;
    }
    .con>div:nth-child(1)>button{
      width: 50%;
    }  
    .con>div{
      width: 85%;
    }
      
  }