.don {
    align-items: center;
    background-color: #3e3838;
    -webkit-filter: brightness(.9);
    filter: brightness(.9);
    justify-content: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }

.don>div>button{
    background-color: lightseagreen;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20.8px !important;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 7px 41px;
    position: relative;
    transition: all .3s linear;
    z-index: 11;
  }



  @media screen and (max-width:1050px) {
    
}

@media screen and (max-width:900px) {
    
    
}
@media screen and (max-width:800px) {
    
}

@media screen and (max-width:650px) {
    
}

@media screen and (max-width:500px) {
  /* .login {
    max-width: 75%;
    padding: 10px 15px;
  }
  .login button {
    padding:  6px 35px;
    font-size: 12px;
  }
  .don>div:nth-child(1)>button{
    width: 50%;
  }  
  .don>div{
    width: 85%;
  } */
    
}