.category-main {
    background-color: teal;
    display: flex;
    width: 100%;
    margin-top: 72px;
    justify-content: space-evenly;
}

.category-main>div {
    padding: 10px;
}

.category-main>div>a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width:1040px) {
    .category-main{
        margin-top: 68px;
    }
}

@media screen and (max-width:900px) {
    .category-main{
        margin-top: 70px;
        
    }
}

@media screen and (max-width:800px) {
    .category-main{
        margin-top: 75px;
    }
}

@media screen and (max-width:500px) {
    .category-main{
        margin-top: 90px;
    }
    .img-1 {
        margin: 0px;
    }
    .category-main>div>a {
        font-size: 1rem;
    }
}