.product {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px 0;
    width: 100%;
    justify-content: center;
}
.pcontainer {
    width: 25%;
}
.pheader {
    border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 5PX;
        margin: 15px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.pheader>img {
    width: 100%;
}
.pbutton>h2:first-child:hover {
    color: red;
    text-decoration: underline;
}

.pbutton>h2:first-child {
    color: #000;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.pbutton {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    gap: 5%;
    font-weight: 700;
}



.pbutton .btn{
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
    padding: 12px 20px;
    border: none;
    color: #fff;
    background-color: lightseagreen;
    transition: all ease 0.5s;
 }

 .pbutton .btn:hover {
    box-shadow: 5px 5px 0px #000;
}


 /* ***************************** RESPONSIVE ************************* */

@media screen and (max-width: 1150px) {
    .container {
        width: 30%;
        margin: 10px auto;
    }
    .pcontainer {
        width: 30%;
        margin: auto;
    }
    .pheader>img {
        width: 100%;
    }
    .pheader{
        margin: 10px 5px;
    }
    .pbutton>h2{
        font-size: 20px;
    }
    
}

@media screen and (max-width: 1000px) {
    .container {
        width: 33.3%;
        margin: 10px auto;
    }
    .pcontainer {
        width: 30%;
        margin: auto;
    }
    .pheader>img {
        width: 100%;
    }
    .pheader{
        margin: 10px 5px;
    }
    .pbutton>h2{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 830px) {
    .container {
        width: 40%;
        margin: 10px 20px;
        
    }
    .product-name{
        gap: 15%;
    font-size: 11px;
    font-weight: 700;
    }
    .pbutton>h2{
        font-size: 15px;
    }
    .btn{
        padding: 12px 20px;
    }
    .pcontainer {
        width: 45%;
        margin: auto;
    }
    .pheader>img {
        width: 100%;
    }
    .pheader{
        margin: 10px 5px;
    }
}

@media screen and (max-width: 500px){
    .container {
        width: 68%;
        margin: 10px auto;
    }  
    .pcontainer {
        width: 70%;
        margin: auto;
    }
    .pheader{
        margin: 10px 5px;
    }
} 




