.home {
    display: grid;
    grid-template-columns: 36% 60%;
    align-items: center;
    width: 85vw;
    margin: 20px auto;
    gap: 5%;
    background-image: url('http://localhost:5000/bg.jpg');

}

.mid {
    color: white;
    text-transform: capitalize;
    margin: 0;
    padding: 10px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  }



.homeTo {
    animation: homeTo 2s linear infinite;
    font-weight: 600;
    font-size: 18px;
}

@keyframes homeTo {
    0% {
        color: green;
    }

    20% {
        color: purple;
    }

    40% {
        color: orange;
    }

    60% {
        color: blue;
    }

    80% {
        color: red;
    }

    90% {
        color: yellow;
    }
}

.home-data>p {
    text-align: justify;
}

.home-store {
    display: flex;
}

.home-store>h1 {
    position: relative;
    font-size: 35px;
    color: transparent;
}

.home-store>h1::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    color: orangered;
    border-right: 4px solid orange;
    animation: homeStore 2.5s linear infinite;
}

.img-1 {
    padding: 30px 50px 0px 50px;
    margin: 30px 0px 0px 50px;
    justify-content: center;
    display: flex;
}

.img-1 img {
    width: 45%;
}


@keyframes homeStore {
    0% {
        width: 0;
    }

    60% {
        width: 100%;
    }
}

.shop-btn {
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 700;
    background-color: black;
    color: white;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    overflow: hidden;
    transition: all 0.4s linear;
}

.shop-btn::before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(100%);
    transition: all 0.4s linear;
}

.shop-btn:hover::before {
    transform: translateX(0);
}

.shop-btn:hover {
    color: black;
}
.carousel .slide img {
    width: 85% !important;
    height: 45vh;
}

.carousel .slide .legend  {
    bottom: 30px !important;
    margin-left: -35% !important;
    width: 70% !important;
    border-radius: 5px !important;
}

.carousel .carousel-status {
    right: 45px !important;
    top: 40px;
}

.carousel .control-prev.control-arrow {
    left: 15px;
}

.carousel .control-next.control-arrow {
    right: 15px;
}

@media screen and (max-width:1000px) {
    .welcome {
        width: 90vw;
        height: 350px;
    }
}

@media screen and (max-width:750px) {
    .home {
        display: flex;
        height: fit-content;
        flex-direction: column;
        gap: 20px;
        width: 80vw;
    }


    .home-store>h1 {
        margin-left: 20px;
    }
}

@media screen and (max-width:500px) {
    .home {
        width: 95vw;
        margin: 0;
        
    }
    .home-data {
        margin: 5px 15px;
        font-size: 15px;
    }
    .img-1 {
        padding: 10px 10px;
    }
    .carousel .slide img {
        width: 80% !important;
        height: 40vh;
    }
    .carousel .control-next.control-arrow {
        right: 5px;
    }
    .carousel .control-prev.control-arrow {
        left: 4px;
    }
    .Topsection {
        height: 140vh !important;
    }
    
}