/* body {
    background-color: #3e3838; }*/

.active{
  color: red;
}

body{
  background-color: #ffff;
}

/* .carousel .thumbs-wrapper {
  display: none;
} */
.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}